<div class="row">
	<div id="<%= dom_id(comment) %>" class="comment small-12 column <%= css_for_hidden(comment) %>">

    <%= image_tag('user_default_2.jpg', class: 'user-photo left', size: '32x32') %>

    <div class="comment-body">
      <span class="comment-info">
        <span><%= comment.user.name %></span>&nbsp;&bullet;&nbsp;<%= time_ago_in_words(comment.created_at) %>
      </span>
      <p><%= comment.body %></p>

      <span id="<%= dom_id(comment) %>_votes" class="comment-votes right">
        <%= render 'comments/votes', comment: comment %>
      </span>

      <p class="reply">
      númerototal respuestas
      <% if user_signed_in? %>
        &nbsp;|&nbsp;
        <%= render 'comments/form', {parent: comment, toggeable: true} %></p>
      <% end %>
    </div>

    <% if moderator? %>
      <div id='moderator-comment-actions'>
        <%= render 'comments/actions', comment: comment %>
      </div>
    <% end %>

    <div class="comment-children">
      <% if moderator? %>
        <% children = comment.children.with_deleted %>
      <% else %>
        <% children = comment.children %>
      <% end %>
      <%= render children %>
    </div>

  </div>
</div>